<div class="header centered">
  <div class="header-container centered">
    <a href="/factory" class="logo centered">
      <img src="/assets/logo.jpg" alt="Eaalim Logo" id="logo-image" />
      <h1 id="logged-in-email"><%= email %></h1>
    </a>
    <a href="/logout">
      <button
        type="button"
        class="right-arrow-btn centered"
        id="logout-btn"
      >
        <p>Logout</p>
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </a>
  </div>
</div>
