<div class="sidebar">
  <ul class="sidebar-nav sidebar-section centered">
    <li>
      <a class="sidebar-item active-item centered" href="/factory"
        ><i class="fa-solid fa-pen-to-square"></i>
        <p>Dashboard</p></a
      >
    </li>
    <li>
      <a class="sidebar-item centered" href="/help"
        ><i class="fa-solid fa-question"></i>
        <p>Help</p></a
      >
    </li>
  </ul>
  <div class="webapp-version sidebar-section centered">
    <h3 id="webapp-title">Mushaf Factory</h3>
    <h4 id="version">Version 1.0.1</h4>
  </div>
</div>
