<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/core.css" />
    <link rel="stylesheet" href="/styles/login.css" />
    <link rel="icon" type="image/x-icon" href="/assets/logo.jpg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Eaalim Audible Muhaf | Factory Login</title>
  </head>
  <body>
    <div class="body-wrapper centered">
      <a href="/" class="logo centered">
        <img src="../assets/logo.jpg" alt="Eaalim Logo" id="logo-image" />
        <div class="logo-text">
          <h1 id="logo-title">
            Eaalim Online Mushaf <span class="underlined">Factory</span>
          </h1>
          <h2 id="logo-slogan">Add, edit, and remove pages & Ahkam</h2>
        </div>
      </a>
      <form action="/login" method="post" id="login-form" class="centered">
        <h3 id="welcome-back">Welcome Back!</h3>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="form-fields centered">
          <div class="login-field centered">
            <label for="email">Email Adress</label>
            <input type="email" name="email" placeholder="..." />
          </div>
          <div class="login-field centered">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="..." />
          </div>
        </div>
        <button type="submit" id="submit-btn">Log in</button>
      </form>
    </div>
    <script
      src="https://kit.fontawesome.com/82432b4eb3.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
